{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GymBros</title>
    <!-- Latest compiled and minified CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'gymapp/css/style.css' %}">
    <!-- Latest compiled JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- SweetAlert2 -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>

<body>
    <nav class="navbar navbar-expand-sm navbar-dark custom-navbar">
        <div class="container">
            <a class="navbar-brand" href="{% url 'index' %}">
                <img src="{% static 'gymapp/img/logo.jfif' %}" alt="Avatar Logo" style="width:40px;" class="rounded-pill">
            </a>
            <a class="navbar-brand" href="{% url 'index' %}">GymBros</a>
            <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavId">
                <ul class="navbar-nav me-auto mt-2 mt-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'mis_pedidos' %}">Mis pedidos</a>
                    </li>
                    {% if user.is_staff %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-bs-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">Administración</a>
                        <div class="dropdown-menu custom-navbar shadow" aria-labelledby="dropdownId">
                            <a class="dropdown-item drophovercustom" href="{% url 'personas' %}">Personas</a>
                            <a class="dropdown-item drophovercustom" href="{% url 'crearpersona' %}">Crear personas</a>
                            <a class="dropdown-item drophovercustom" href="{% url 'lista_mancuernas' %}">Mancuernas</a>
                            <a class="dropdown-item drophovercustom" href="{% url 'crear_mancuerna' %}">Crear mancuerna</a>
                            <a class="dropdown-item drophovercustom" href="{% url 'admin_pedidos' %}">Pedidos clientes</a>
                            <a class="dropdown-item drophovercustom" href="{% url 'monedas' %}">API</a>
                        </div>
                    </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'carrito' %}">
                            Carrito <span class="badge bg-secondary">{{ request.session.cart|length }}</span>
                        </a>
                    </li>
                </ul>
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        {% if user.is_authenticated %}
                            <form action="{% url 'logout' %}" method="post" class="d-flex">
                                {% csrf_token %}
                                <span class="navbar-text me-2">Bienvenido, <strong>{{ user.username }}</strong></span>
                                <button class="btn btn-outline-light" type="submit">Cerrar Sesión</button>
                            </form>
                        {% else %}
                            <a class="nav-link" href="{% url 'login' %}"><strong>Inicio de Sesión</strong></a>
                        {% endif %}
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    {% if messages %}
        {% for message in messages %}
            <script>
                Swal.fire({
                    title: '{{ message.tags|capfirst }}!',
                    text: '{{ message }}',
                    icon: '{{ message.tags }}',
                    confirmButtonText: 'Ok'
                })
            </script>
        {% endfor %}
    {% endif %}

    {% if not user.is_staff and request.path == '/confirmacionadmin/' %}
    <script>
        Swal.fire({
            title: 'Acceso denegado',
            text: 'No tienes permiso para acceder a esta página.',
            icon: 'error',
            confirmButtonText: 'Ok'
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = "{% url 'index' %}";
            }
        });
    </script>
    {% endif %}

    {% block contenido %}
    {% endblock contenido %}

</body>

</html>
