{% extends "gymapp/base.html" %}
{% block contenido %}
<div class="container">
    <h2>Mis Pedidos</h2>
    <table class="table">
        <thead>
            <tr>
                <th>ID Pedido</th>
                <th>Productos</th>
                <th>Total</th>
                <th>Estado</th>
                <th>Fecha</th>
            </tr>
        </thead>
        <tbody>
            {% for pedido in pedidos %}
            <tr>
                <td>{{ pedido.id }}</td>
                <td>
                    <ul>
                        {% for detalle in pedido.detalles.all %}
                            <li>{{ detalle.mancuerna.peso }} kg - {{ detalle.cantidad }} x ${{ detalle.precio_unitario }}</li>
                        {% endfor %}
                    </ul>
                </td>
                <td>${{ pedido.total }}</td>
                <td>{{ pedido.estado }}</td>
                <td>{{ pedido.created_at }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock contenido %}
